---
import Layout from '../layouts/Layout.astro';
---

<Layout title="astro-cube">
  <main>
    <article class="region prose wrapper hero">
      <h1>astro-cube</h1>

      <h2>
        a tiny <a href="https://astro.build/">Astro</a> starter template, with <a
          href="https://cube.fyi/">CUBE CSS</a
        >
      </h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>minimal</h3>
          <p>
            Barebones, <em>just Astro</em> and <em>pure CSS</em>, no other
            external tools, extra build step or client-side JavaScript.
          </p>
        </li>

        <li class="flow">
          <h3>customizable</h3>
          <p>
            Everything here is just suggestive, remove, add, tweak, copy/paste,
            <em>knock yourself out</em>.
          </p>
        </li>

        <li class="flow">
          <h3>robust</h3>
          <p>
            Based on <a href="https://buildexcellentwebsit.es/"
              >buildexcellentwebsit.es</a
            > philosophy: let the browser do the heavy lifting rather than "micromanage"
            it, as <a href="https://andy-bell.co.uk/">the author</a> puts it.
          </p>
        </li>

        <li class="flow">
          <h3>fluid</h3>
          <p>
            Spacings and font sizes are <a href="https://utopia.fyi/"
              ><code>clamp()</code> based</a
            >, they adapt to the viewport's size instead of arbitrary
            breakpoints — looks good on <em>all devices</em>.
          </p>
        </li>
      </ul>
    </article>

    <footer class="region prose wrapper">
      See <a href="https://github.com/williamhzo/astro-cube">source code</a>,
      contributions are welcome! <span role="img" aria-label="waving hand emoji"
        >👋</span
      >
    </footer>
  </main>
</Layout>
